<main>
    <div class="container body-content">
        <h1>Search by Tag - <th:block th:text="${tag.name}"></th:block></h1>
        <div class="row">
            <th:block th:each="photo : ${tag.photos}">
                <div class="col-md-6">
                    <article>
                        <header>
                            <h2 th:text="${photo.title}"></h2>
                        </header>

                        <div class="well">
                            <img th:src="${photo.content}" width="500" height="300"/>
                        </div>

                        <small class="author" th:text="${photo.author.fullName}"></small>

                        <p>
                            <a class="btn btn-default btn-xs" th:each="tag:${photo.tags}" th:href="@{/tag/{name}(name=${tag.name})}" th:text="${tag.name}"></a>
                        </p>


                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs"
                                   th:href="@{/photo/{id}(id=${photo.id})}">View photo &raquo;</a>
                            </div>
                        </footer>
                    </article>
                </div>
            </th:block>
        </div>
    </div>
</main>
