<main xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/photo/upload}" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <legend>New Photo</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="image_file">Image From File</label>
                        <div class="col-sm-4 ">
                        <label class="btn btn-default btn-file">
                            Browse <input type="file" name="file" id="image_file"/>
                        </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_title">Photo Title</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="article_title" placeholder="Photo Title"
                                   name="title"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="photo_category">Category</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="photo_category" name="categoryId">
                                <option th:each="category : ${categories}" th:value="${category.id}"
                                        th:text="${category.name}"></option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="photo_album">Album</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="photo_album" name="albumId">
                                <option th:each="album : ${albums}" th:value="${album.id}"
                                        th:text="${album.name}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="photo_tags">Tags</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="photo_tags" placeholder="Tags"
                                   name="tagString"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/}">Cancel</a>
                            <input type="submit" class="btn btn-primary" value="Submit"/>
                            <a th:href="@{/albums/create}" class="btn btn-success">New Album</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>