<main>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-8">
                            <h4 th:text="${user.fullName}"></h4>
                            <p>
                                <span th:text="${user.email}"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>